{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Treadmill Deals</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Treadmill Deals of a Lifetime</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
           <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
<!--                    <a class="nav-link" href="about.html">About</a>-->
                </li>
                <li class="nav-item">
<!--                    <a class="nav-link" href="services.html">Services</a>-->
                </li>

            </ul>
        </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/slideshow/1.jpg' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Treadmill Deals</h3>
            <p>Get your Treadmill Deal today.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/slideshow/4.jpg' %}')">

        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/slideshow/9.jpg' %}')">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Treadmill Deals...</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/3aCi3YK"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/t0.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/3aCi3YK">NordicTrack Commercial Series 1</a>
                    </h4>
                    <p class="card-text">Bring Home Interactive Personal Training powered by iFit; 1-year iFit family
                        membership included;
                        create up to 5 individual exercise profiles.</p>
                    <a href="https://amzn.to/3aCi3YK" class="btn btn-secondary">$1,861.98</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/2ZP9sLY"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/t1.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/2ZP9sLY">YUJIANCH</a>
                    </h4>
                    <p class="card-text">Treadmills with Bluetooth Speakers &12 Preset Programs, 2.0HP Folding Electric
                        Treadmills
                        LCD Display, Walking Jogging Machine for Home/Gym, Low Noise 500 lbs Weight Capacity</p>
                    <a href="https://amzn.to/2ZP9sLY" class="btn btn-secondary">$286.00</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/3dxSWbf"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/t2.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/3dxSWbf">WWYM Mini Folding Treadmill</a>
                    </h4>
                    <p class="card-text">WWYM Mini Folding Fitness Treadmill, Adjustable Incline Jogging Walking
                        Machine, with LCD Displays, for Home Office Gym</p>
                    <a href="https://amzn.to/3dxSWbf" class="btn btn-secondary">$1,189.99</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/2NYntV0"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/treadmill 2.jpg' %}"
                                                       alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/2NYntV0">SereneLife SLFTRD18</a>
                    </h4>
                    <p class="card-text">Smart Folding Compact Treadmill with Downloadable App & Bluetooth
                        connectivity</p>
                    <a href="https://amzn.to/2NYntV0" class="btn btn-secondary">$470.00</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/2MqFGdl"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/t4.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/2MqFGdl">Commercial 1750 treadmill</a>
                    </h4>
                    <p class="card-text">Immersive 10-inch interactive HD touchscreen streams on-demand iFit workouts
                        directly to your equipment.</p>
                    <a href="https://amzn.to/2MqFGdl" class="btn btn-secondary">$1861.98</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-90">
                <a href="https://amzn.to/3knUlTk"><img class="card-img-top"
                                                       src="{% static 'affiliate/images/items/t5.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="https://amzn.to/3knUlTk">Commercial 2950 treadmill</a>
                    </h4>
                    <p class="card-text">22” HD Interactive Touchscreen Display streams on-demand iFit workouts into
                        your home directly on your treadmill.</p>
                    <a href="https://amzn.to/3knUlTk" class="btn btn-secondary">$1,861.98</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_search_bar = "true";
                amzn_assoc_tracking_id = "pnkamau-20";
                amzn_assoc_search_bar_position = "bottom";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "Shop Related Products";
                amzn_assoc_default_search_phrase = "jogging";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "1f84bfbe8b61641892451740290be2a8";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
        <div class="col-lg-6">
            <script type="text/javascript">
                amzn_assoc_placement = "adunit0";
                amzn_assoc_search_bar = "true";
                amzn_assoc_tracking_id = "pnkamau-20";
                amzn_assoc_search_bar_position = "bottom";
                amzn_assoc_ad_mode = "search";
                amzn_assoc_ad_type = "smart";
                amzn_assoc_marketplace = "amazon";
                amzn_assoc_region = "US";
                amzn_assoc_title = "Shop Related Products";
                amzn_assoc_default_search_phrase = "treadmills";
                amzn_assoc_default_category = "All";
                amzn_assoc_linkid = "1f84bfbe8b61641892451740290be2a8";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
    </div>
  <!-- /.container -->

  <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
          <!-- Copyright &copy; --> 
        pnkamau.com 2021 </p>
    </div>
    <!-- /.container -->
</footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
